<hr style="border:5px solid #108999"> </hr>

# pandas Series <hr style="border:4.5px solid #108999"> </hr>

For starters, import the pandas library, using the relevant well-known convention.

In [2]:
import pandas as pd

## .unique() & .nunique()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [8]:
data = pd.read_csv('C:/Users/abdul/Desktop/Documents/DA/9. Pandas Series/Region.csv')
region_data = data.copy()
print(region_data)

        Region
0     Region 2
1     Region 6
2     Region 3
3     Region 2
4     Region 3
...        ...
1037  Region 6
1038  Region 1
1039  Region 4
1040  Region 6
1041  Region 6

[1042 rows x 1 columns]

Verify that **region_data** is a Series object.

In [10]:
type(region_data)

pandas.core.frame.DataFrame

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set. 
<br>*Please note that the statistics provided in the output exclude missing data.*

In [12]:
region_data.describe()

          Region
count       1042
unique        18
top     Region 6
freq         326

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

In [25]:
region_data.count()
region_data.nunique()

Region    18
dtype: int64

## .sort_values()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [35]:
data = pd.read_csv('C:/Users/abdul/Desktop/Documents/DA/9. Pandas Series/Region.csv', usecols=[0])
region_data = data.copy()
print(region_data.head())

     Region
0  Region 2
1  Region 6
2  Region 3
3  Region 2
4  Region 3

Sort the values without specifying any arguments.

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

In [39]:
region_data.sort_values()

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

Sort the values, setting the *ascending* parameter equal to *True*.

In [46]:
region_data.sort_values(by='Region' ,ascending=True)

       Region
462  Region 1
347  Region 1
609  Region 1
610  Region 1
339  Region 1
..        ...
536  Region 9
450  Region 9
8    Region 9
842  Region 9
940  Region 9

[1042 rows x 1 columns]

Sort the values in **region_data** in descending order.

In [50]:
region_data.sort_values(by='Region' ,ascending=False)

       Region
450  Region 9
842  Region 9
141  Region 9
940  Region 9
8    Region 9
..        ...
569  Region 1
892  Region 1
558  Region 1
557  Region 1
309  Region 1

[1042 rows x 1 columns]

## Attribute and Method Chaining

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [54]:
data = pd.read_csv('C:/Users/abdul/Desktop/Documents/DA/9. Pandas Series/Region.csv', usecols=[0])
region_data = data.copy()
print(region_data.head())

     Region
0  Region 2
1  Region 6
2  Region 3
3  Region 2
4  Region 3

Use method chaining to obtain the first five rows from the values of **region_data** sorted in ascending order.

In [61]:
region_data.sort_values(by='Region').head()

       Region
462  Region 1
347  Region 1
609  Region 1
610  Region 1
339  Region 1

Use method chaining to obtain the first five rows from the values of **region_data** sorted in descending order.

In [67]:
region_data.sort_values(by='Region', ascending=False).tail()

       Region
569  Region 1
892  Region 1
558  Region 1
557  Region 1
309  Region 1

Execute the next code cell to create a Series object called **emp_birth_date** that contains the employee numbers and the dates of birth of certain 4 employees.

In [70]:
emp_birth_date = pd.Series({'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'})
emp_birth_date

No_0001    1963-08-02
No_0002    1964-06-13
No_0003    1989-12-04
No_0004    1996-04-08
dtype: object

Obtain just the index of **emp_birth_date**.

In [76]:
emp_birth_date.index

Index(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype='object')

Obtain the row labels of the index, i.e. its values, stored in an array.

In [82]:
emp_birth_date.index.to_numpy()

array(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype=object)

## .sort_index()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [85]:
data = pd.read_csv('C:/Users/abdul/Desktop/Documents/DA/9. Pandas Series/Region.csv', usecols=[0])
region_data = data.copy()
print(region_data.head())

     Region
0  Region 2
1  Region 6
2  Region 3
3  Region 2
4  Region 3

Overwrite the content of the **region_data** Series as you sort the values in *descending* order. Observe the index of the Series. Is it ordered correctly?

In [90]:
region_data = region_data.sort_values(by='Region', ascending=False)
region_data

       Region
450  Region 9
842  Region 9
141  Region 9
940  Region 9
8    Region 9
..        ...
569  Region 1
892  Region 1
558  Region 1
557  Region 1
309  Region 1

[1042 rows x 1 columns]

Sort the index of the new version of the **region_data** Series object.

In [93]:
region_data.sort_index()

        Region
0     Region 2
1     Region 6
2     Region 3
3     Region 2
4     Region 3
...        ...
1037  Region 6
1038  Region 1
1039  Region 4
1040  Region 6
1041  Region 6

[1042 rows x 1 columns]

Sort the index of the **region_data** Series in opposite direction. You can do that by setting the *ascending* parameter equal to *False*.

In [96]:
region_data.sort_index(ascending=False)

        Region
1041  Region 6
1040  Region 6
1039  Region 4
1038  Region 1
1037  Region 6
...        ...
4     Region 3
3     Region 2
2     Region 3
1     Region 6
0     Region 2

[1042 rows x 1 columns]